<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.manuela.timemanager">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".InformationUs"></activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/login_title" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/register_title" />
        <activity
            android:name=".ProfileActivity"
            android:label="@string/profile_title" />
        <activity android:name=".AddTaskActivity" />
        <activity android:name=".CalendarActivity" />
        <activity android:name=".ThingsToDoActivity" />
        <activity android:name=".Configurations" />
        <activity android:name=".General" />
        <activity android:name=".Logros" />
        <activity android:name=".Logro1" />
        <activity android:name=".Logro2" />
        <activity android:name=".Logro3" />
        <activity android:name=".Logro4" />
        <activity android:name=".Logro5" />
        <activity android:name=".Logro6" />
        <activity android:name=".Logro7" />
        <activity android:name=".Logro8" />
        <activity android:name=".Logro9" />
        <activity android:name=".Logro10" />
        <activity android:name=".Logro11" />
        <activity android:name=".Logro12" />
        <activity android:name=".Notificaciones" />
        <activity android:name=".EditarInformacion" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>
    </application>


</manifest>